html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*---------------------------------HEADER---------------------------*/

.container-nav {
    display: flex;
}

.navigation {
    display: flex;
}


.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    padding-left: 138px;
    align-items: center;
}

.list-item {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}

.list-item:hover {
  cursor: pointer;
  color: #a0a0a0;
}

.logo-nav {
    width: 463px;
    height: 69px;
    padding-bottom: 20px;
    font-family: 'Istok Web';
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #ffffff;
}

.logo-stand {
  color: #0075FF;
}

.logo-ukr {
  color: #FFB800;
}

.nav-item {
    margin-right: 50px;
}

body {
    font-family: 'Jost', sans-serif;
}

/*------------------------------HERO--------------------------*/

.hero-heading {
    width: 1091px;
    height: 78px;
    padding-top: 110px;
    padding-left: 175px;
    padding-right: 174px;
    padding-bottom: 321px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 139px;
}

.container-nav {
    margin: 0 auto;
    width: 1440px;
    height: 65px;
    background: #010632;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 10px 0px;
}

.about {
  padding-top: 30px;
  padding-bottom: 65px;
  display: flex;
  background-color: #010632;
}
.reverse {
  flex-direction: row-reverse;
  background-color: #060d49;
}

.about-text-wrapper {
  margin-left: 128px;
  margin-right: 85px;
}

.about-headind {
  width: 375px;
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #ffffff;
}

.about-text {
  width: 414px;
  height: 233px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.about-photo__list {
  display: flex;
  padding-top: 5px;
}

.about-photo__list--item:not(:last-child) {
  margin-right: 35px;
}
.bottom-photo {
  margin-top: 155px;
}

.hero {
  background-image: url(/images/hero-background.png);
  width: 1440px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-heading-sp {
    width: 1091px;
    height: 278px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 139px;
    /* text-align: center; */
    color: #0075FF;
}

.hero-heading-sp2 {
    width: 1091px;
    height: 278px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 139px;
    /* text-align: center; */
    color: #FFC700;
}

/*----------------------------UKRAINE-PHOTO------------------*/

.ukraine-photo {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 773px;
  background-color: #010632;
}

.photo-heading {
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Istok Web';
  width: 780px;
  height: 138px;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
}

.photo-heading-sp {
  margin-left: 78px;
}

/*------------------------------------HELPING---------------------*/

.helping {
  margin-left: auto;
  margin-right: auto;
  background-color: #060D49;
  width: 1440px;
  height: 857px;
}

.help-heading {
  padding-top: 28px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Istok Web';
  width: 753px;
  height: 69px;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
}

.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item {
  width: 365px;
  height: 493px;
  background-color: #FFFFFF;
}

.team__item:not(:last-child) {
  margin-right: 35px;
}

.team-img {
  margin-top: 26px;
  margin-left: 15px; 
  width: 335px;
  height: 234px;
}

.team__info--box {
  text-align: center;
}

.photo-title {
  margin: 0 auto;
  font-family: 'Istok Web';
  width: 293px;
  height: 69px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #000;
}

.photo-text {
  margin-right: auto;
  margin-left: auto;
  width: 287px;
  height: 35px;
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000;
}

.photo-procent {
  margin: 0 auto;
  width: 46px;
  height: 35px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}

.photo-img-progress {
  width: 60px;
  margin-bottom: 13px;
}

.btn-photo {
  margin: 0 auto;
  display: block;
  width: 235px;
  height: 61px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  background-color:#0057FF;
  border: none;
  border-radius: 15px;
}

.btn-photo:hover {
  background-color: #0000cc;
}

/*--------------------------------FOOTER-----------------------*/

footer {
  margin: 0 auto;
  width: 1440px;
  height: 349px;
  background-color:#010632;
}

.logo-footer {
  margin: 0 auto;
  width: 463px;
  height: 69px;
  font-family: 'Istok Web';
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #ffffff;
}

.footer-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 28px;
  padding-left: 138px;
}

.web2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3
}

.adress {
  width: 106px;
  height: 35px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

.adress-link {
  width: 231px;
  height: 21px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-ul {
  margin-top: 9px;
  padding: 0;
}

.footer-social {
  display: flex;
  padding: 0;
}


.footer-flex {
  display: flex;
}

address {
  margin-right: 318px;
}

.footer-heading {
  width: 99px;
  height: 35px;
  margin-bottom: 32px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.social-link {
  display: flex;
  padding: 0;
}

.link-items:not(:last-child) {
  margin-right: 15px;
}

.link-item {
  display: flex;
  align-items: center;
  background-color: #FFC700;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-one {
  fill: #000;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.social-two {
  fill: #000;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.social-three {
  fill: #000;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12.84px;
}

.link-item:hover {
  background-color: #2196F3;
}


